h1 {
  font-family: Arial;
  color: blue
  font-size: 2em;
}

p {

}

/*Selectors for the challenge*/

#title 

#description 

#survey-form 

#name

#email

#number

#name-label

#email-label

#number-label

#dropdown

#fruit-apples

#fruit-bananas

#fruit-oranges

#fruit-blue

#pizza-toppings-cheese

#pizza-toppings-pepperoni

#pizza-toppings-chocolate-chips

#submit